@page "/"
@page "/parking"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@if (TenantsForDay.Any())
{
    <div>
        <div style="float: right">
            <div style="text-align: right;">
                <button type="button" style="width: 100px;" class="btn btn-success">
                    Free
                </button>
            </div>
            <div style="text-align: right;">
                <button type="button" style="width: 100px;" class="btn btn-warning">
                    Yours
                </button>
            </div>
            <div style="text-align: right;">
                <button type="button" style="width: 100px;" class="btn btn-danger">
                    Occupied
                </button>
            </div>
        </div>

        <div style="float: left">
            <div style="font-weight: bold">Your booked days in this calendar are: </div>
            @foreach (var tenantsDays in TenantsDayActualSelection)
            {
                <div>
                    @tenantsDays
                </div>
            }
        </div>
    </div>
    <table class="box">
        <thead>
            <tr>
                <th class="align-middle" scope="col" style="width: 10px">Mon</th>
                <th class="align-middle" scope="col" style="width: 10px">Tue</th>
                <th class="align-middle" scope="col" style="width: 10px">Wed</th>
                <th class="align-middle" scope="col" style="width: 10px">Thu</th>
                <th class="align-middle" scope="col" style="width: 10px">Fri</th>
                <th class="align-middle" scope="col" style="width: 10px">Sat</th>
                <th class="align-middle" scope="col" style="width: 10px">Sun</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @for (var i = 0; i < 7; i++)
                {
                    <td class="align-middle" style="width: 10px">
                        @if (i >= DayOfWeekLocalNumber)
                        {
                            var tenantForDay = TenantsForDay[i - DayOfWeekLocalNumber];
                            var nextDayStringRepr = tenantForDay.DayId;
                            var nextDayStringReprToShowOnUi = AddDotsAndRemoveZeros(nextDayStringRepr);

                            var calendarButtontype = GetTypeOfCalendarDay(tenantForDay.TenantIds.Count, TenantsDaysForUi, nextDayStringRepr);

                            @if (calendarButtontype == "btn-danger")
                            {
                                <button type="button" class="btn @calendarButtontype">
                                    @nextDayStringReprToShowOnUi
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn @calendarButtontype" @onclick="() => BookOrFreeDay(nextDayStringRepr)">
                                    @nextDayStringReprToShowOnUi
                                </button>
                            }
                        }
                    </td>
                }
            </tr>
            <tr>
                @for (var i = 7; i < 14; i++)
                {
                    <td class="align-middle" style="width: 10px">
                        @if (true)
                        {
                            var tenantForDay = TenantsForDay[i - DayOfWeekLocalNumber];
                            var nextDayStringRepr = tenantForDay.DayId;
                            var nextDayStringReprToShowOnUi = AddDotsAndRemoveZeros(nextDayStringRepr);

                            var calendarButtontype = GetTypeOfCalendarDay(tenantForDay.TenantIds.Count, TenantsDaysForUi, nextDayStringRepr);

                            @if (calendarButtontype == "btn-danger")
                            {
                                <button type="button" class="btn @calendarButtontype">
                                    @nextDayStringReprToShowOnUi
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn @calendarButtontype" @onclick="() => BookOrFreeDay(nextDayStringRepr)">
                                    @nextDayStringReprToShowOnUi
                                </button>
                            }
                        }
                    </td>
                }
            </tr>
            <tr>
                @for (var i = 14; i < 21; i++)
                {
                    <td class="align-middle" style="width: 10px">
                        @if (true)
                        {
                            var tenantForDay = TenantsForDay[i - DayOfWeekLocalNumber];
                            var nextDayStringRepr = tenantForDay.DayId;
                            var nextDayStringReprToShowOnUi = AddDotsAndRemoveZeros(nextDayStringRepr);

                            var calendarButtontype = GetTypeOfCalendarDay(tenantForDay.TenantIds.Count, TenantsDaysForUi, nextDayStringRepr);

                            @if (calendarButtontype == "btn-danger")
                            {
                                <button type="button" class="btn @calendarButtontype">
                                    @nextDayStringReprToShowOnUi
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn @calendarButtontype" @onclick="() => BookOrFreeDay(nextDayStringRepr)">
                                    @nextDayStringReprToShowOnUi
                                </button>
                            }
                        }
                    </td>
                }
            </tr>
            <tr>
                @for (var i = 21; i < 28; i++)
                {
                    <td class="align-middle" style="width: 10px">
                        @if (i - DayOfWeekLocalNumber < NumberOfDaysToShow)
                        {
                            var tenantForDay = TenantsForDay[i - DayOfWeekLocalNumber];
                            var nextDayStringRepr = tenantForDay.DayId;
                            var nextDayStringReprToShowOnUi = AddDotsAndRemoveZeros(nextDayStringRepr);

                            var calendarButtontype = GetTypeOfCalendarDay(tenantForDay.TenantIds.Count, TenantsDaysForUi, nextDayStringRepr);

                            @if (calendarButtontype == "btn-danger")
                            {
                                <button type="button" class="btn @calendarButtontype">
                                    @nextDayStringReprToShowOnUi
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn @calendarButtontype" @onclick="() => BookOrFreeDay(nextDayStringRepr)">
                                    @nextDayStringReprToShowOnUi
                                </button>
                            }
                        }

                    </td>
                }
            </tr>
            <tr>
                @for (var i = 28; i < 35; i++)
                {
                    <td class="align-middle" style="width: 10px">

                        @if (i - DayOfWeekLocalNumber < NumberOfDaysToShow)
                        {
                            var tenantForDay = TenantsForDay[i - DayOfWeekLocalNumber];
                            var nextDayStringRepr = tenantForDay.DayId;
                            var nextDayStringReprToShowOnUi = AddDotsAndRemoveZeros(nextDayStringRepr);

                            var calendarButtontype = GetTypeOfCalendarDay(tenantForDay.TenantIds.Count, TenantsDaysForUi, nextDayStringRepr);

                            @if (calendarButtontype == "btn-danger")
                            {
                                <button type="button" class="btn @calendarButtontype">
                                    @nextDayStringReprToShowOnUi
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn @calendarButtontype" @onclick="() => BookOrFreeDay(nextDayStringRepr)">
                                    @nextDayStringReprToShowOnUi
                                </button>
                            }
                        }                    
                    </td>
                }
            </tr>
            <tr>
                @for (var i = 35; i < 42 - DayOfWeekLocalNumber + 1; i++)
                {
                    <td class="align-middle" style="width: 10px">                    
                        @if (i - DayOfWeekLocalNumber < NumberOfDaysToShow)
                        {
                            var tenantForDay = TenantsForDay[i - DayOfWeekLocalNumber];
                            var nextDayStringRepr = tenantForDay.DayId;
                            var nextDayStringReprToShowOnUi = AddDotsAndRemoveZeros(nextDayStringRepr);

                            var calendarButtontype = GetTypeOfCalendarDay(tenantForDay.TenantIds.Count, TenantsDaysForUi, nextDayStringRepr);

                            @if (calendarButtontype == "btn-danger")
                            {
                                <button type="button" class="btn @calendarButtontype">
                                    @nextDayStringReprToShowOnUi
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn @calendarButtontype" @onclick="() => BookOrFreeDay(nextDayStringRepr)">
                                    @nextDayStringReprToShowOnUi
                                </button>
                            }
                        }
                    </td>
                }
            </tr>
        </tbody>
    </table>
}
else
{
    <table class="box">
        <thead>
            <tr>
                <th class="align-middle" scope="col" style="width: 10px">Mon</th>
                <th class="align-middle" scope="col" style="width: 10px">Tue</th>
                <th class="align-middle" scope="col" style="width: 10px">Wed</th>
                <th class="align-middle" scope="col" style="width: 10px">Thu</th>
                <th class="align-middle" scope="col" style="width: 10px">Fri</th>
                <th class="align-middle" scope="col" style="width: 10px">Sat</th>
                <th class="align-middle" scope="col" style="width: 10px">Sun</th>
            </tr>
        </thead>
    </table>
    <span>
        Loading calendar...
    </span>
}
